
@{
    ViewData["Title"] = "Contactanos";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="container">
    <h2 style="text-align: center;">Contáctanos</h2>
    <p style="text-align:justify">
        <span style="font-size: 18px; text-decoration:underline"><strong>Dirección:</strong></span>
    </p>
    <p>Jr. Cuzco 1231 - Piso 2 (Miraflores)</p>
    <br />

    <p style="text-align:justify">
        <span style="font-size: 18px; text-decoration:underline"><strong>Numero de Contactos:</strong></span>
    </p>
    <p>(01)-4234571 <strong>(Llamadas)</strong></p>
    <p>987542148 <strong>(Whatsapp)</strong></p>
    <br />

    <p style="text-align:justify">
        <span style="font-size: 18px; text-decoration:underline"><strong>Facebook:</strong></span>
    </p>
    <a href="https://es-la.facebook.com/cyccomputer/"> Facebook PCSTORE</a>
    <br />
    <br/>

    <p style="text-align:justify">
        <span style="font-size: 18px; text-decoration:underline"><strong>Whatsapp:</strong></span>
    </p>
    <a href="https://api.whatsapp.com/send?phone=51987542148"> Whatsapp - 987542148</a>
    <br />

    <!--REDES SOCIALES-->

</div>

