

.contenedor-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
}

.cuerpo_formulario {
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #D10024;
    margin: 10px;
    padding: 15px;
}

.cuerpo_formulario img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.p-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
}
.cuerpo_formulario input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #D10024;
    border: 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.cuerpo_formulario input[type="password"]{

    margin-top: 20px;
}
::placeholder{
    font-size: 1rem;
    color: rgba(255, 255, 255, .596);
}

.cuerpo_formulario input:hover{
    transition: .5s;
    border: 1px solid;
    color: #2498db;
}

.cuerpo_formulario button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: #D10024;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid #850017;
    transition: all .5s ease;
}

    .cuerpo_formulario button:hover {
        color: #d5dbdd;
        border: 2px solid #ad2b54;
        background: linear-gradient(#D10024,#c30122);
    }